
.spike .span {
    color: #fcb434;
}

.spike .text-wrapper-2 {
    color: #ffffff;
}

.spike .text-wrapper-20 {
    font-weight: 700;
    color: #ffffff;
}

.spike .text-wrapper-21 {
    font-weight: 700;
    color: #22222a;
}

.spike .text-wrapper-22 {
    font-weight: 700;
    font-style: italic;
    color: #fcb434;
}

.spike .large-popout .popout-group {
    position: relative;
    width: 411px;
    height: 270px;
    top: -2px;
}

.spike .large-extruding-vector{
    position: absolute;
    width: 404px;
    height: 264px;
    top: 6px;
    left: 0;
}

.spike .rectangle-16 {
    position: absolute;
    width: 244px;
    height: 47px;
    top: 38px;
    left: 147px;
    background-color: #1a1a1a;
    border-radius: 7px;
    box-shadow: 0px 0px 20px #ffffff73;
}

.spike .rectangle-17 {
    position: absolute;
    width: 244px;
    height: 47px;
    top: 95px;
    left: 147px;
    background-color: #1a1a1a;
    border-radius: 7px;
    box-shadow: 0px 0px 20px #ffffff73;
}

.spike .rectangle-18 {
    position: absolute;
    width: 119px;
    height: 47px;
    top: 95px;
    left: 272px;
    background-color: #fcb434;
    border-radius: 0px 7px 7px 0px;
    box-shadow: 0px 0px 20px #ffffff73;
}

.spike .rectangle-19 {
    width: 42px;
    height: 33px;
    top: 45px;
    left: 342px;
    border-radius: 7px;
    box-shadow: 0px 0px 20px #ffffff80;
    position: absolute;
    background-color: #fcb434;
}

.spike .text-wrapper-28 {
    width: 35px;
    height: 17px;
    top: 55px;
    left: 345px;
    color: #000000;
    font-size: 15px;
    line-height: 15.7px;
    white-space: nowrap;
    position: absolute;
    font-family: "Jockey One", Helvetica;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
}

.spike .rectangle-20 {
    position: absolute;
    width: 32px;
    height: 28px;
    top: 105px;
    left: 352px;
    background-color: #000000;
    border-radius: 7px;
    box-shadow: 0px 0px 20px #ffffff80;
}

.spike .text-wrapper-29 {
    width: 36px;
    height: 17px;
    top: 113px;
    left: 350px;
    color: #ffffff;
    font-size: 12px;
    line-height: 12.6px;
    position: absolute;
    font-family: "Jockey One", Helvetica;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
}

.spike .baton {
    position: absolute;
    width: 48px;
    height: 47px;
    top: 39px;
    left: 147px;
}

.spike .baton-ellipse {
    position: absolute;
    width: 13px;
    height: 5px;
    top: 49px;
    left: 177px;
    background-color: #adadad;
    border-radius: 6.54px / 2.49px;
    transform: rotate(46.59deg);
    box-shadow: inset 0px 4px 4px #00000080;
}

.spike .world-champ {
    position: absolute;
    width: 175px;
    top: 48px;
    left: 199px;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 10.5px;
    white-space: nowrap;
}

.spike .text-wrapper-30 {
    position: absolute;
    width: 152px;
    top: 62px;
    left: 199px;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 13.6px;
    white-space: nowrap;
}

.spike .text-wrapper-31 {
    position: absolute;
    width: 64px;
    top: 118px;
    left: 284px;
    font-family: "Open Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.6px;
}

.spike .text-wrapper-32 {
    position: absolute;
    width: 24px;
    height: 8px;
    top: 61px;
    left: 158px;
    transform: rotate(-43.66deg);
    font-family: "Open Sans", Helvetica;
    font-weight: 800;
    color: #0085c7;
    font-size: 6px;
    text-align: center;
    letter-spacing: 0;
    line-height: 6.3px;
}

.spike .rectangle-21 {
    position: absolute;
    width: 32px;
    height: 28px;
    top: 105px;
    left: 153px;
    background-color: #fcb434;
    border-radius: 7px;
    box-shadow: 0px 0px 20px #ffffff80;
}

.spike .text-wrapper-33 {
    width: 35px;
    height: 17px;
    top: 113px;
    left: 152px;
    color: #ffffff;
    font-size: 12px;
    line-height: 12.6px;
    position: absolute;
    font-family: "Jockey One", Helvetica;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
}

.spike .rectangle-22 {
    position: absolute;
    width: 100px;
    height: 16px;
    top: 95px;
    left: 222px;
    background-color: #1a1a1a;
    border-radius: 0px 0px 7px 7px;
    box-shadow: 0px 0px 20px #ffffff73;
}

.spike .text-wrapper-34 {
    position: absolute;
    width: 71px;
    top: 118px;
    left: 190px;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.6px;
}

.spike .text-wrapper-35 {
    position: absolute;
    width: 17px;
    top: 118px;
    left: 263px;
    font-family: "Open Sans", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0;
    line-height: 13.6px;
    white-space: nowrap;
}

.spike .text-wrapper-36 {
    position: absolute;
    width: 163px;
    top: 13px;
    left: 150px;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 12.6px;
    white-space: nowrap;
}

.spike .diamond-doha {
    position: absolute;
    width: 89px;
    height: 8px;
    top: 99px;
    left: 228px;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 8px;
    text-align: center;
    letter-spacing: 0;
    line-height: 8.4px;
    white-space: nowrap;
}

.spike .overlap-7 {
    position: relative;
    width: 459px;
    height: 310px;
}

.spike .text-wrapper-37 {
    position: absolute;
    width: 459px;
    top: 0;
    left: 0;
    font-family: "Kanit", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 100px;
    text-align: right;
    letter-spacing: 8.00px;
    line-height: 105.0px;
}

.spike .text-wrapper-38 {
    position: absolute;
    width: 459px;
    top: 190px;
    left: 0;
    font-family: "Kanit", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 100px;
    text-align: right;
    letter-spacing: 8.00px;
    line-height: 105.0px;
    white-space: nowrap;
}

.spike .text-wrapper-39 {
    position: absolute;
    width: 360px;
    top: 95px;
    left: 99px;
    font-family: "Kanit", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 100px;
    text-align: right;
    letter-spacing: 8.00px;
    line-height: 105.0px;
    white-space: nowrap;
}

.spike .p {
    position: absolute;
    width: 137px;
    top: 637px;
    left: 292px;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0;
    line-height: 13.6px;
}

.spike .spikeLogo {
    position: absolute;
    width: 21px;
    top: 20px;
    left: 36px;
    object-fit: cover;
}

.spike .topbar {
    position: absolute;
    width: 737px;
    height: 51px;
    top: 20px;
    left: 75px;
}

.spike .contact-corner {
    position: absolute;
    top: 25px;
    right: 50px;
    font-family: "Open Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.spike .contact-corner a {
    text-decoration: none;
    color: white;
}

.spike .spike-corner {
    position: absolute;
    width: 101px;
    top: 0;
    left: 0;
    font-family: "Jockey One", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
}

.spike .the-PREMIER-track {
    position: absolute;
    width: 646px;
    top: 13px;
    left: 80px;
    font-family: "Open Sans", Helvetica;
    font-weight: 200;
    color: transparent;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18.9px;
}

.input-button-container {
    position: absolute;
    width: 330px;
    height: 40px;
    top: 410px;
    left: 125px;
    display: flex;
    margin: 0 auto;
}

input[type="email"] {
    flex: 1;
    padding: 10px;
    border: 2px solid #e0a528;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-family: "Open Sans";
    font-size: 12px;
}

.submit-btn {
    background-color: #e0a528;
    color: white;
    border: 2px solid #e0a528;
    border-radius: 0 5px 5px 0;
    padding: 10px 20px;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #c28d23;
}

.spike.laptop-wrapper {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.spike .laptop {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    width: 100%;
    height: 1367px;
    position: relative;
}

.spike .elements {
    position: absolute;
    width: 90vw;
    height: 1232px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spike .tracklines {
    position: absolute;
    width: 2539px;
    height: 2543.28;
    top: 219px;
    left: -827px;
}

.spike .iphone-pro {
    position: absolute;
    width: 324px;
    height: 669px;
    top: 0;
    left: 496px;
}

.spike .screen-iphone-pro-wrapper {
    position: relative;
    width: 282.1px;
    height: 669px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: 
        drop-shadow(0px 0px 200px #ffd07e66)
        drop-shadow(0px 0px 100px #ffd07e66)
        drop-shadow(0px 0px 10px #ffd07e66)
        drop-shadow(0px 0px 5px #ffd07e66)
        drop-shadow(0px 0px 50.24px #FFF);
    background-image: url('./assets/iPhone-12-Pro.png');
    background-size: 100% 100%;
}

.spike .screen-iphone-pro {
    position: absolute;
    width: 244px;
    height: 642px;
    top: 13.58px;
    left: 10px;
}

.spike .small-popout {
    position: absolute;
    width: 387px;
    height: 191px;
    top: 432px;
    left: 249px;
    transition: all 0.3s ease;
}

.spike .small-popout .popout-group {
    position: relative;
    width: 378px;
    height: 193px;
    left: -3px;
}

.spike .extruding-vector {
    position: absolute;
    width: 369px;
    height: 190px;
    top: 0;
    left: 9px;
}

.spike .small-popout .popout-rectangle {
    position: absolute;
    width: 310px;
    height: 76px;
    top: 117px;
    left: -5px;
    background: linear-gradient(-25deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    border-radius: 7px;
    border-color: transparent;
    transform: rotate(180deg);
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.50);
    transition: all 0.3s ease;
    
    &:before {
        content: '';
        position: absolute;
        top: 3px; right: 0; bottom: 0; left: 3px;
        width: 304px;
        height: 70px;
        z-index: -1;
        border-radius: inherit;
        background-color: #1a1a1a;
        transition: all 0.3s ease;
    }
}

.spike .small-popout:hover .popout-rectangle{
    background: linear-gradient(-25deg, rgba(218, 140, 0, 1), rgba(218, 140, 0, 0));
    width: 315px;
    height: 81px;
    top: 114.5px;
    left: -7.5px;

    &:before {
        top: 3px; right: 0; bottom: 0; left: 3px;
        width: 309px;
        height: 75px;
    }
}

.spike .US-flag {
    position: absolute;
    width: 78px;
    height: 79px;
    top: 114px;
    left: 0;
}

.spike .text-wrapper-42 {
    position: absolute;
    width: 130px;
    top: 155px;
    left: 68px;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 15.7px;
}

.spike .olympic-final {
    position: absolute;
    width: 135px;
    top: 138px;
    left: 68px;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 12.6px;
    white-space: nowrap;
}

.spike .rectangle-24 {
    position: absolute;
    width: 79px;
    height: 32px;
    top: 140px;
    left: 208px;
    background-color: #000000;
    border-radius: 7px;
    box-shadow: 0px 0px 20px #ffffff80;
}

.spike .rectangle-25 {
    width: 40px;
    height: 32px;
    top: 140px;
    left: 208px;
    border-radius: 7px 0px 0px 7px;
    position: absolute;
    background-color: #fcb434;
}

.spike .text-wrapper-43 {
    width: 27px;
    top: 153px;
    left: 215px;
    color: #000000;
    font-size: 15px;
    line-height: 15.7px;
    white-space: nowrap;
    position: absolute;
    font-family: "Jockey One", Helvetica;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
}

.spike .text-wrapper-44 {
    width: 31px;
    top: 153px;
    left: 252px;
    color: #ffffff;
    font-size: 15px;
    line-height: 15.7px;
    white-space: nowrap;
    position: absolute;
    font-family: "Jockey One", Helvetica;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
}

.spike .text-wrapper-45 {
    position: absolute;
    width: 25px;
    top: 144px;
    left: 218px;
    font-family: "Open Sans", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 7px;
    text-align: center;
    letter-spacing: 0;
    line-height: 7.3px;
    white-space: nowrap;
}

.spike .text-wrapper-46 {
    position: absolute;
    width: 25px;
    top: 144px;
    left: 254px;
    font-family: "Open Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 6px;
    text-align: center;
    letter-spacing: 0;
    line-height: 6.3px;
    white-space: nowrap;
}

.spike .large-popout {
    position: absolute;
    width: 432px;
    height: 268px;
    top: 55px;
    left: 639px;
}

.spike .large-popout .popout-group {
    position: relative;
    width: 411px;
    height: 270px;
    top: -2px;
}

.spike .large-popout .popout-rectangle {
    position: absolute;
    width: 283px;
    height: 167px;
    top: 0;
    left: 129px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    border-radius: 7px;
    border-color: transparent;
    transform: rotate(180deg);
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.50);
    transition: all 0.3s ease;
    
    &:before {
        content: '';
        position: absolute;
        top: 3px; right: 0; bottom: 0; left: 3px;
        width: 277px;
        height: 161px;
        z-index: -1;
        border-radius: inherit;
        background-color: #1a1a1a;
        transition: all 0.3s ease;
    }
}

.spike .large-popout:hover .popout-rectangle{
    background: linear-gradient(-25deg, rgba(218, 140, 0, 1), rgba(218, 140, 0, 0));
    width: 288px;
    height: 172px;
    top: -2.5;
    left: 126.5px;

    &:before {
        top: 3px; right: 0; bottom: 0; left: 3px;
        width: 282px;
        height: 166px;
    }
}

.spike .large-extruding-vector{
    position: absolute;
    width: 404px;
    height: 264px;
    top: 6px;
    left: 0;
}

.spike .rectangle-26 {
    position: absolute;
    width: 100px;
    height: 16px;
    top: 95px;
    left: 222px;
    background-color: #1a1a1a;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 20px #ffffff73;
}

.spike .baton {
    position: absolute;
    width: 48px;
    height: 47px;
    top: 39px;
    left: 147px;
}

.spike .baton-ellipse {
    position: absolute;
    width: 13px;
    height: 5px;
    top: 49px;
    left: 177px;
    background-color: #adadad;
    border-radius: 6.54px / 2.49px;
    transform: rotate(46.59deg);
    box-shadow: inset 0px 4px 4px #00000080;
}

.spike .title-1 {
    position: absolute;
    width: 465px;
    height: 310px;
    top: 45px;
    left: 0;
    transition: all 0.5s ease;
}

.spike .title-1:hover {
    left: -10px;
}

.spike .WIN-MONEY {
    position: absolute;
    width: 702px;
    top: 294px;
    left: 849px;
    font-family: "Kanit", Helvetica;
    font-weight: 700;
    color: #fcb538;
    font-size: 110px;
    letter-spacing: 6.60px;
    line-height: 97.9px;
    transition: all 0.5s ease;
}

.spike .WIN-MONEY:hover {
    left: 859px;
}

.spike .text-wrapper-47 {
    position: absolute;
    width: 222px;
    top: 528px;
    left: 855px;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 19.5px;
}

.spike .and-your-first-bet-s {
    position: absolute;
    width: 137px;
    top: 467px;
    left: 311px;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0;
    line-height: 13.6px;
}

.spike .store-download-apple {
    left: 964px;
    position: absolute;
    width: 202px;
    height: 122px;
    top: 521px;
}

.spike .store-download-google {
    left: 824px;
    position: absolute;
    width: 202px;
    height: 122px;
    top: 521px;
}

@media (max-width: 1039px) {
    .spike.phone-wrapper {
        display: none !important;
    }

    .spike.half-size-wrapper {
        display: none !important;
    }
}

@media (min-width: 1040px) and (max-width: 1096px) {
    .spike.phone-wrapper {
        display: none !important;
    }

    .spike.half-size-wrapper {
        display: none !important;
    }
}

@media (min-width: 1097px) {
    .spike.phone-wrapper {
        display: none !important;
    }

    .spike.half-size-wrapper {
        display: none !important;
    }
}